.jumbotron {
	background-color : #80F850 ;
	color: black;
	text-align: center;
	margin-top: 40px;
}



footer{
	padding : 10px 10px 10px 10px;
	background-color: #80F850 ;
	margin-bottom: 0px;
	margin-top: 40px;
}

.card-hotel {
	flex: 1 200px; 
	margin-top:10px;
}

.btn-reserva{
	width:100%;
	border-radius: 0px;

}
.footer-address-icon{
	padding-right: 15px;
}
.tab-content{
	padding-top: 10px;
}