	@yellow:#f7e119;
	@red: #d9534f;
	@green:#47f71b;
	@blue:#0275d8;
		
	.margenes(@top: 0px, @bottom:0px){
		margin-top : @top;
		margin-bottom: @bottom;
	}
	.jumbotron {
		background-color : @green ;
		color: @blue ;
		text-align: center;
		.margenes(50px , 0px);
	}



	footer{
		padding : 10px 10px 10px 10px;
		background-color: @green ;
		.margenes(40px, 10px);
	}

	.card-hotel {
		flex: 1 200px; 
		.margenes(10px, 0px);
	}

	.btn-reserva{
		width:100%;
		border-radius: 0px;

	}
	.footer-address-icon{
		padding-right: 15px;
	}
	.tab-content{
		padding-top: 10px;
	}