	$yellow:#f7e119;
	$red: #d9534f;
	$green:#47f71b;
	$blue:#0275d8;
	
	
	@mixin margenes($top, $bottom,$right,$left){
		margin-top : $top;
		margin-bottom: $bottom;
		color:$blue;
		padding-right: 10px ;
		padding-left:10px;

	}
	.jumbotron {
		background-color : $yellow ;
		color: $red ;
		text-align: center;
		@include margenes(50px , 0px,10px,10px);
	}



	footer{
		padding : 10px 10px 10px 10px;
		background-color: $green ;
		@include margenes(40px, 10px,15px,15px);
	}

	.card-hotel {
		flex: 1 200px; 
		@include margenes(10px, 0px,4px,4px);
	}

	.btn-reserva{
		width:100%;
		border-radius: 0px;

	}
	.footer-address-icon{
		padding-right: 15px;
	}
	.tab-content{
		padding-top: 10px;
	}