.jumbotron {
  background-color: #47f71b;
  color: #0275d8;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 10px 10px;
  background-color: #47f71b;
  margin-top: 40px;
  margin-bottom: 10px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 15px;
}
.tab-content {
  padding-top: 10px;
}
